h1{
    color: aqua;
    background-color: blue;
}
#ha2
{
    color: aquamarine;
    background-color: brown;
}
.ha3{
    color: brown;
    background-color: blueviolet;
}
*{
    color: green;
}
p,h3,u{
    color: black;
    background-color: burlywood;
}j